/HelloWorld/nbproject/private/
/HelloWorld/dist/
/HelloWorld/build/
/asg/InvestmentViewerFixMe/nbproject/private/
/asg/InvestmentViewerFixMe/build/
/asg/InvestmentViewerFixMe/dist/
/asg/InvestmentViewerMVCFixMe/nbproject/private/
/asg/InvestmentViewerMVCFixMe/build/
/asg/InvestmentViewerMVCFixMe/dist/
/deliverables/LotteryOne/nbproject/private/
/deliverables/LotteryTwo/nbproject/private/
/deliverables/LotteryTwo/build/
/asg/ListElementChooser/nbproject/private/
/asg/SetElementChooser/nbproject/private/
/asg/SetElementChooser/build/
